.header {
  position: fixed;
  top: 54px;
  margin: 0 8px;
  padding: 8px;
  display: flex;
  z-index: 2;
  @media screen and (min-width: 768px) {
    margin: 0 16px;
    padding: 16px;
  }
}

.header button,
.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 48px;
  width: 48px;
  border-radius: 8px;
  background-color: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(10px);
  text-transform: uppercase;
  font-family: Messina Sans Mono;
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary);
  position: relative;
  z-index: 21;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: border, color;
  cursor: pointer;

  @media screen and (min-width: 1280px) {
    height: 80px;
    width: 80px;
    font-size: 16px;
  }
}

.header button:hover,
.header a:hover {
  color: var(--white);
}

.header button.logo {
  background: transparent;
}

.header button.logo:hover {
  color: var(--white);
}

.nav {
  position: fixed;
  right: 16px;
  @media screen and (min-width: 768px) {
    right: 32px;
  }
}

.header .light button,
.header .light a, button.light {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
}

.header .light button:hover,
.header .light a:hover, button.light:hover, .header button.logo.light:hover {
  color: var(--primary);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.nav_list {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    position: absolute;
    flex-direction: row;
    top: -500px;
    left: auto;
    right: 48px;
    width: auto;
    height: auto;
    gap: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: top;
  }
  @media screen and (min-width: 1280px) {
    right: 80px;
  }
}

.active {
  top: 0;
  @media screen and (min-width: 768px) {
    position: absolute;
    flex-direction: row;
    top: 0;
    left: auto;
    right: 48px;
    width: auto;
    height: auto;
    gap: 0;
  }
  @media screen and (min-width: 1280px) {
    right: 80px;
  }
}

.nav_list button {
  @media screen and (min-width: 768px) {
    border-radius: 0;
  }
}

.nav_list li:nth-child(1) button {
  border-radius: 8px 0 0 8px;
}

.header button.special_menu {
  @media screen and (min-width: 768px) {
    border-radius: 0 8px 8px 0;
  }
}

.header button.anchor {
  color: var(--white);
  font-family: Messina Sans Mono;
  font-size: 24px;
  line-height: 1.2;
  width: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
}
.footer p {
  text-align: center;
  font-family: Messina Sans Mono;
  font-size: 12px;
  line-height: 1.1;
  @media (min-width: 1280px) {
    font-size: 16px;
  }
}
